<main class='chat-page'>
    <div class='chat-page__dialogs'>
       <div class='chat-page__dialogs-header'>
           {{{ linkToProfile }}}
           {{{ searchInput }}}
       </div>
        <div class='chat-page__list'>
            {{{ divider }}}
            {{#each (chat-page-list)}}
                {{> ChatItem }}
                {{{ divider }}}
            {{/each}}
        </div>

    </div>
    <div class='chat-page__chat-window'>
        <div class='chat-page__chat-window-header'>
            <div class='chat-page__chat-window-user'>
                {{> ChatAvatar avatar=avatar }}
                <span class='chat-page__chat-window-name'>Имя</span>
            </div>
            {{{ menuBtn }}}
        </div>
        {{{ simpleDivider }}}
        <div class='chat-page__chat-window-area'>
            <span class='chat-page__empty-chat-window'>Выберите чат чтобы отправить сообщение</span>
        </div>
        {{{ simpleDivider }}}
        <div class='chat-page__chat-window-footer'>
            {{{ messageInput }}}
            {{{ sendMessageBtn }}}
        </div>
    </div>
</main>
