<main class='chat-page'>
    <div class='chat-page__dialogs'>
       <div class='chat-page__dialogs-header'>
           <div class='chat-page__dialogs-header-btns'>
               {{{ createChatBtn }}}
               {{{ linkToProfile }}}
           </div>
           {{{ searchInput }}}
       </div>
        <div class='chat-page__dialogs-header-divider'></div>
        <div class='chat-page__list'>
            {{{ chatList }}}
        </div>

    </div>
    {{# if isChatSelected}}
        <div class='chat-page__chat-window'>
            <div class='chat-page__chat-window-header'>
                <div class='chat-page__chat-window-user'>
                    {{{ chatAvatar }}}
                    <span class='chat-page__chat-window-name'>{{{ selectedChatTitle }}}</span>
                </div>
                <div class='chat-page__chat-actions'>
                    {{{ addUserToChatBtn }}}
                    {{{ deleteUserFromChatBtn }}}
                    {{{ deleteChatBtn }}}
                </div>
            </div>
            <div class='chat-page__chat-window-area'>
            </div>
            <div class='chat-page__chat-window-footer'>
                {{{ messageInput }}}
                {{{ sendMessageBtn }}}
            </div>
        </div>
    {{else}}
        <div class='chat-page__empty-chat-window'>
            Выберите чат чтобы отправить сообщение
        </div>
    {{/if}}
    {{{ chatCreateDialog }}}
    {{{ chatDeleteDialog }}}
    {{{ addUserToChatDialog }}}
    {{{ deleteUserFromChatDialog }}}
</main>
