<div class='input-field {{#if className}} {{className}} {{/if}}'>
    {{#if label}}
        <label class='input-field__label'>{{ label }}</label>
    {{/if}}
    <input
        class='input-field__element'
        type='{{ type }}'
        name='{{ name }}'
        value='{{ value }}'
        placeholder='{{ placeholder }}'
    >
</div>
