<div>
    <div class='chat-item'>
        {{{ chatAvatar }}}
        <div class='chat-item__content'>
            <span class='chat-item__name'>{{title}}</span>
            <span class='chat-item__message'>{{lastMessage}}</span>
        </div>
        <div class='chat-item__aside'>
            <span class='chat-item__time'>{{time}}</span>
            {{#if isUnreadMessages}}
                <span class='chat-item__unread'>{{unreadCount}}</span>
            {{/if}}
        </div>
    </div>
    <div class='chat-item__divider'></div>
</div>
